<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fafa.infrastructure.persistence.mapper.PhotoMapper">

    <select id="selectByPetIdAndDateRange" resultType="com.fafa.infrastructure.persistence.dataobject.PhotoDO">
        SELECT *
        FROM photo
        WHERE pet_id = #{petId}
        <if test="startDate != null">
            AND DATE(taken_at) >= #{startDate}
        </if>
        <if test="endDate != null">
            AND DATE(taken_at) &lt;= #{endDate}
        </if>
        ORDER BY taken_at DESC, created_at DESC
    </select>

    <update id="unsetAllCoversByPetId">
        UPDATE photo
        SET is_cover = 0
        WHERE pet_id = #{petId} AND is_cover = 1
    </update>

</mapper>
